<div class="cart-container">
  <div class="header mat-elevation-z1">
    <div class="d-flex flex-row align-items-center">
      <h1>Your Orders</h1>
    </div>
  </div>
  <ng-container *ngIf="orders.length === 0">
    <p class="p-5 text-center">You have no Orders placed</p>
  </ng-container>
  <mat-accordion multi>
    <ng-container *ngFor="let order of orders">
      <mat-expansion-panel expanded="false" (opened)="onExapnd(order)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>{{ getDate(order.created_on) }}</div>
            <div class="ms-2 me-3 d-flex flex-row align-items-center total">
              <div>Total:</div>
              <div class="ms-2 price">₹{{ (order.total) }}</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let cartItem of order.cart_items">
          <div class="product-details">
            <img [src]="cartItem.product.image_url" [attr.alt]="cartItem.product.name">
            <div class="ms-auto d-flex flex-row align-items-center">
              <div class="ms-2 me-3 d-flex flex-row align-items-center">
                <div>Price:</div>
                <div class="ms-2 price">₹{{ cartItem.product.price }}</div>
              </div>
              <div class="ms-2 me-3 d-flex flex-row align-items-center">
                <div>Quantity:</div>
                <div class="ms-2 price me-2">{{ cartItem.quantity }}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
