<nav class="mat-elevation-z1">
  <div class="nav-left">
    <div class="logo">
      <a routerLink="/" class="pointer">Shoppr</a>
    </div>

  </div>
  <div class="nav-right">
    <ul>
      <li>
        <a routerLink="/orders" class="pointer">
          <i class="bi bi-list-ul"></i>
        </a>
      </li>
      <li>
        <a routerLink="/cart" class="pointer">
          <i class="bi bi-cart"></i>
          <ng-container *ngIf="cartService.items.length > 0">
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">
              {{ cartService.items.length }}
            </span>
          </ng-container>
        </a>
      </li>
    </ul>
    <div class="user-icon" id="UserProfile">
      <button mat-button [matMenuTriggerFor]="menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#555" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()"><i class="bi bi-box-arrow-right me-2"
            style="font-size: 1rem"></i>Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>
